<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- All the material are inside /view/resource and it can be used by using /static -->
    <!-- You have to do it with css because you don't know sass -->
    <link rel="stylesheet" href="/static/css/barcode.css">
    <title>Text</title>
</head>
<body>
    

    <!-- 
        You can use this library to scan the barcode using the livestream method 
        - https://serratus.github.io/quaggaJS/
        
        The example for the livestream is here
        - https://serratus.github.io/quaggaJS/examples/live_w_locator.html

        And how to use the code
        - https://serratus.github.io/quaggaJS/#gettingstarted

        You can download the entire Quagga project with example code here:
        - https://github.com/serratus/quaggaJS/zipball/master
    -->

    <!-- Quagga Library (Third party) -->
    <script src="/static/js/quagga.min.js"></script>

    <!-- Own Script -->
    <script src="/static/js/barcode.js"></script>
</body>
</html>